---
import IconMoon from "@assets/icon-moon.svg";
import IconSun from "@assets/icon-sun.svg";
import avatar from "@assets/image-avatar.jpg";
import ToggleThemeButton from "@components/ToggleThemeButton.astro";
import { Image } from "astro:assets";

const links = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "Blog",
    href: "/blog/",
  },
  {
    label: "About",
    href: "/about/",
  },
  {
    label: "NewsLetter",
    href: "/newsletter/",
  },
];

const pathname = Astro.url.pathname;
---

<header class="relative mx-auto w-[calc(100%-32px)] max-w-160">
  <div class="bg-neutral-0 flex items-center justify-between rounded-xl border border-neutral-200 p-1.5 dark:border-neutral-700 dark:bg-neutral-800">
    <Image src={avatar} alt="avatar" class="h-10 w-10 rounded-lg" width={80} height={80} />
    <div class="flex items-center gap-1.5 sm:gap-5">
      <ToggleThemeButton />
      <ul class="hidden sm:flex sm:gap-6">
        {
          links.map((link) => {
            const isActive = link.href === "/" ? pathname === "/" : pathname.startsWith(link.href);
            return (
              <li
                class:list={[
                  "relative transition-colors",
                  isActive
                    ? ["text-neutral-700", "dark:text-neutral-0", "after:absolute", "after:bottom-0", "after:left-0", "after:h-0.75", "after:w-full", "after:bg-blue-500"]
                    : ["text-neutral-600", "dark:text-neutral-400"],
                ]}
              >
                <a href={link.href}>{link.label}</a>
              </li>
            );
          })
        }
      </ul>
      <button type="button" id="toggle-theme" class="grid size-10 cursor-pointer place-items-center rounded-lg border border-neutral-200 bg-neutral-100 dark:border-neutral-700 dark:bg-neutral-800">
        <IconMoon id="test" class="block dark:hidden" />
        <IconSun id="icon-sun" class="hidden dark:block" />
      </button>
    </div>
  </div>
  <div id="menu" class="bg-neutral-0 absolute top-16 left-0 z-10 w-full rounded-xl border border-neutral-200 p-3 sm:hidden dark:border-neutral-700 dark:bg-neutral-800" hidden>
    <ul class="[&>li:not(:first-child)>a]:pt-2 [&>li:not(:last-child)>a]:pb-1.5">
      {
        links.map((link) => (
          <li
            class={`text-lg leading-normal not-last:border-b not-last:border-neutral-200 dark:not-last:border-neutral-700 ${pathname === link.href ? "dark:text-neutral-0 font-semibold text-neutral-900" : "text-neutral-600 dark:text-neutral-400"}`}
          >
            <a href={link.href} class="block">
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</header>
